.Products {
    Width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    position: relative;

}

.Products img {
    Width: 286px;
    Height: 286px;
    margin-left: 7px;
    margin-top: 7px;
    border-radius: 8px;

}

.Product-info {
    margin: 0 14px;
}

.Product-info p {
    margin-top: 0;
    margin-bottom: 50px;
}

.add-btn {
    width: 100%;
    padding: 10px 0;
    background-color: #FFE0B3;
    border: 0;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-btn p {
    margin: 0;
    padding-right: 10px;
}

.add-btn:hover {
    background-color: orangered;
    cursor: pointer;
}